<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="APP" value="gewechat"/>
    <property name="LOG_HOME" value="/software/logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[${APP}] %d{yy-MM-dd.HH:mm:ss.SSS} [%thread] %-5p %c{0}.%method[%line] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
        <File>${LOG_HOME}/${APP}.log</File>
        <encoder>
            <pattern>[${APP}] %d{yy-MM-dd.HH:mm:ss.SSS} [%thread] %-5p %c{0}.%method[%line] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}.log.%d{yyyyMMdd}</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.httpclient.wire" level="INFO"/>
    <logger name="org.apache.commons.httpclient" level="INFO"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="com.alibaba.dubbo" level="WARN"/>


    <logger name="com.ibatis" level="INFO" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="ERROR" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="ERROR" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="ERROR" />
    <logger name="java.sql.Connection" level="ERROR" />
    <logger name="java.sql.Statement" level="ERROR" />
    <logger name="java.sql.PreparedStatement" level="ERROR" />
    <logger name="java.sql.ResultSet" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="DETAIL"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>